{% extends 'base.html' %}
{% block content %}
<style>
    td{
        text-align: center;
    }
</style>
<script src="../static/js/backtesting.js"></script>
<!--<form method="POST">-->
    <table border="1" width="100%" height="550px" style="margin-top: -20px;">
    <tr style="background-color: rgb(205, 152, 255);"  height="10%">
        <td colspan="2">
            <h3>Back-Testing</h3>
        </td>
    </tr>
    <tr  height="5%">
        <td colspan="2">
            <h4>Select dates for backtesting</h4>
            From Date: <input type="date" id="fromdate" name="fromdate" min="2023-04-01" max="2023-04-29" required>&nbsp;&nbsp;&nbsp;
            To Date: <input type="date" id="todate" name="todate" min="2023-04-01" max="2023-04-30" required><br>
            <b><u>Note</u></b>: - Maximum period for backtesting is 2023-04-30
            <!--<input type="submit" name="submitdata" formaction="/performbacktest" value="Submit">-->
            <button id="submitBtn" onclick="submitData();">Submit</button>
        </td>
        
    </tr>
    <tr  height="10%">
        <td colspan="2">
            <h4>Choose models for backtesting</h4>
        </td>
    </tr>
    <tr  height="10%">
        <td>
            Model A : 
            <select id="model1" name="model1">
                {% block modela %}
                {% for i in models %}
                    <option value="{{ i }}" id="{{ i }}">{{ i }}</option>
                {% endfor %}
                {% endblock %}
            </select>
        </td>
        <td>
            Model B : 
            <select id="model2" name="model2">
                {% block modelb %}
                {% for i in models %}
                    <option value="{{ i }}" id="{{ i }}">{{ i }}</option>
                {% endfor %}
                {% endblock %}
            </select>
        </td>
    </tr>
    <tr>
        <td width="50%" id="leftpane">
            <!--<input type="hidden" value="{{ dfA }}" id="hiddendata_modelA">-->
            <div id="model-chart-a"></div>
        </td>
        <td width="50%" id="rightpane">
            <!--<input type="hidden" value="{{ dfB }}" id="hiddendata_modelB">-->
            <div id="model-chart-b"></div>
        </td>
    </tr>
</table>
<!--</form> -->
<script>
    

    //console.log("js = ", data)
    

    // IMP Section do not delete
    /*d3.json(`{{ url_for('performBackTest') }}`, function(d) {
        
    }).then(function(data){
        console.log("d = ", data)
    })*/
    //
    function submitData(){
    var modelA = document.getElementById('model1').value
    var modelB = document.getElementById('model2').value
    var fromdate = document.getElementById('fromdate').value
    var todate = document.getElementById('todate').value
    data = {'modelA' : modelA, 'modelB' : modelB, 'fromdate' : fromdate, 'todate' : todate}
    /*fetch(`{{ url_for('printN') }}`, {
        method: "POST",
        headers : { "Content-Type": "application/json" },
        body : JSON.stringify(data)
    }).then(response => response.json())
    .then((user) => {
        console.log("response = ", user[0])
    })*/
    url = `{{ url_for('printN') }}`
    createCharts(1, 'leftpane', 'model-chart-a', 'a', data, url)
    /*response.then(function(result){
        console.log("response = ", result)
    })*/
    }
</script>
{% endblock %}